body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Palatino Linotype, sans-serif;
    background: #f0f4f8;
    justify-content: center;
    gap: 50px;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
.tool{
    position: fixed;
    top: 0;
    background-color: #313131;
    border: solid #5d747b 3px;
    color: black;
    z-index: 5;
    height: 80px;
    margin: 0;
    transform: translateY(-85px);
    transition: 0.15s ease;
    width: 99%;
}
.expand{
    width: 55px;
    height: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #313131;
    border: 2.5px solid #5d747b;
    border-top: none;
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    margin-top: 50px;
}
#t1 p{
    margin-left: 10px;
    font-size: 1.1em;
}
#monsterMenu{
    position: absolute;
    width: 160px;
    display: flex;
}
#dropbtn{
    cursor: pointer;
    width: 30px;
    height: 35px;
    border-radius: 5px;
    margin: 3px;
    background: #5d747b;
}
#dropcnt{
    display: none;
    background: #58605a;
    z-index: 5;
    margin-left: 10px;
    border: solid 2px #ffffff;
}
#dropcnt.show{
    display: block;
}
.foe{
    display: inline;
    margin: 0;
}
.foe input{
    width: 75px;
    margin: 0;
    border: 2px solid #58605a;
    color: #58605a;
}
.foe input::placeholder{
    color: #58605a;
}
.foe button{
    border: 1px solid #313131;
}
#btn{
    margin: 0;
}
#add{
    width: 45px;
    height: 25px;
    margin-top: 5px;
    border: 1px solid #313131;
}
#add img{
    width: 100%;
    margin: 0;
    transform: translateY(-7px);
}
#exp1{
    margin-left: 10px;
    transform: none;
    top: auto;
    margin-right: 0;
}
#exp2{
    margin-left: 100px;
    transform: none;
    top: auto;
}
.card {
    background: #313131;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.9);
    width: 400px; 
    margin: 100px 20px 100px 0px;
    z-index: 4;
}
#character-list{
    display: flex;
    flex-direction: column;  /* stack rows vertically */
    align-items: center;     /* center each pair horizontally */
    gap: 60px;
}
.card, .secondary{
  display: grid;
  box-sizing: border-box;
  max-width: 400px;
  border-radius: 15px;
  background: #313131;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);
}
.pair{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;               /* space between card and secondary */
    flex-wrap: wrap;
    flex-direction: column;
}
.secondary{
    background: #313131;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.9);
    width: 400px;
    margin: 100px 20px 100px 0px;
    z-index: 1;
    grid-column-start: 2;
}
.image{
    width: 400px;
    border-radius: 15px 15px 0 0;
}
.name {
    font-size: 1.5em;
    font-weight: bold;
    margin: -4px 0 10px 0;
    color: white;
    padding: 15px 0 15px 35px;
    background-color: #5d747b;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 10vh;
    margin: 0px 15px 20px 35px;
    text-align: left;
}
#class{
    grid-column-start: 2;
    grid-row-start: 1;
    margin-bottom: 0px;
}
#alignment{
    grid-column-start: 1;
    grid-row-start: 2;
}
#maxHealth{
    grid-column-start: 2;
    grid-row-start: 2;
}
p{
    margin: 5px 0;
    color: #f0f4f8;
}
h2{
    font-size: 20px;
    margin: 10px 25px;
    color: #f0f4f8;
}
.stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -10px 15px 7px 35px;
    text-align: left;
}
#dexterity{
    grid-column-start: 2;
    grid-row-start: 1;
}
#constitution{
    grid-column-start: 1;
    grid-row-start: 2;
}
#intelligence{
    grid-column-start: 2;
    grid-row-start: 2;
}
#wisdom{
    grid-column-start: 1;
    grid-row-start: 3;
}
#charisma{
    grid-column-start: 2;
    grid-row-start: 3;
}
.btncontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.buttons {
    text-align: center;
    padding: 8px 12px;
    margin: 0px 20px 20px 20px;
    border: none;
    border-radius: 8px;
    background-color: #5d747b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
button:hover {
    background-color: #58605a;
}
#top{
    background-color: #ffffff;
    height: 135px;
    width: 100%;
    border-radius: 15px;
}
.smstat{
    text-align: center;
    width: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 35px;
    z-index: 3;
}
span{
    margin: 0 auto;
}
.secondary img{
    width: 100px;
    z-index: 2
}
#shield{
    position: relative; top: 15px; left: 20px;
}
#wing{
    position: relative; top: 15px; left: 20px;
    width: 150px;
}
#heart{
    position: relative; top: 10px; left: 25px;
}
#armorClass{
    position: relative; top: -95px; left: 23px;
    color: #313131
}
#initiative{
    position: relative; top: -170px; left: 130px;
    color: #313131;
}
#hp{
    position: relative; top: -250px; left: 273px;
    color: #313131;
}
#skills{
    position: relative; top: -20px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
}
#box{
    z-index: 100;
    text-align: center;
    height: 20px;
    width: 200px;
    position: fixed; top: 420px;
    left: 50%;
    transform: translateX(-50%);
    background: #5d747b;
    background-size: 100%;
    color: #ffffff;
    justify-self: center;
}
::placeholder{
    color: rgba(255, 255, 255, .5);
}
#finalize{
    z-index: 100;
    position: fixed; top: 470px;
    justify-self: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: #5d747b;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
#finalize:hover {
  background-color: #58605a;
}
#background{
    z-index: 100;
    background: rgba(49, 49, 49, .90);
    width: 98.5%;
    height: 895px;
    border-radius: 20px;
    position: fixed; top: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: translatex(5px);
}
.input{
    display: none;
}
#submission{
    position: fixed;
    z-index: 100;
}
@media screen and (min-width: 700px) {
    section{
        display: grid;
    }
    #background{
        width: 99%;
        transform: translatex(10px);
    }
    .pair{
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 40px;
        flex-direction: row;
    }
    .card{
        margin: 100px 20px 100px 0px;
    }
    .card, .secondary{
        flex: 1 1 400px;
        display: grid;
    }
    .tool{
        position: fixed;
        right: 0;
        top: 0;
        width: 250px;
        height: 99%;
        border: solid #5d747b 4px;
        transform: translateX(260px);
    }
    .expand{
        position: absolute;
        left: -39px;
        width: 35px;
        height: 70px;
        border: solid #5d747b 2.5px;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0;
    }
    #exp1{
        top: 30px;
        margin: 0;
    }
    #exp2{
        top: 130px;
        margin: 0;
    }
}